body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30%
}

div {
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    border:hsl(from color 2px solid green)
}